extends layout

block content
    form
        ul
            each todo in todos
                li #{todo.name}
                a(href=`${todo.id}/delete`) Delete 
                a(href=`${todo.id}/edit`) Edit